[0;1;32m●[0m bluetooth.service - Bluetooth service
     Loaded: loaded (/lib/systemd/system/bluetooth.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Thu 2021-11-11 00:34:40 EET; 1h 44min left
       Docs: man:bluetoothd(8)
   Main PID: 776 (bluetoothd)
     Status: "Running"
      Tasks: 1 (limit: 18832)
     Memory: 1.7M
     CGroup: /system.slice/bluetooth.service
             └─776 /usr/lib/bluetooth/bluetoothd

Nov 11 00:34:59 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: Endpoint registered: sender=:1.42 path=/MediaEndpoint/A2DPSink/sbc
Nov 11 00:34:59 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: Endpoint registered: sender=:1.42 path=/MediaEndpoint/A2DPSource/sbc
Nov 10 22:45:40 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31mFailed to set mode: Blocked through rfkill (0x12)[0m
Nov 10 22:47:33 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31mRefusing input device connect: No such file or directory (2)[0m
Nov 10 22:47:33 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31mRefusing connection from 00:1F:5B:F9:67:58: unknown device[0m
Nov 10 22:47:34 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31m00:1F:5B:F9:67:58: error updating services: Host is down (112)[0m
Nov 10 22:47:34 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31m00:1F:5B:F9:67:58: error updating services: Operation already in progress (114)[0m
Nov 10 22:47:34 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31mRefusing input device connect: No such file or directory (2)[0m
Nov 10 22:47:34 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31mRefusing connection from 00:1F:5B:F9:67:58: unknown device[0m
Nov 10 22:47:40 mark-HP-ENVY-Laptop-14-eb0xxx bluetoothd[776]: [0;1;31m[0;1;39m[0;1;31m00:1F:5B:F9:67:58: error updating services: Host is down (112)[0m
